/* styles.css */

.custom-navbar-bg {
    background-color: #F4EBD9;
    /* Your desired color code */
    /* Add any other styles you want */
}

.rounded-box {
    background-color: #5E747F;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Add this CSS to your existing styles.css or in a <style> tag in the <head> of your HTML */

/* Navbar */
.navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Modal */
#contactModal {
    display: none;
    /* Initially hide the modal */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* Semi-transparent black background */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.icon-link {
    font-size: 24px;
    margin: 0 10px;
    /* Adjust the margin as needed */
    color: #333;
    /* Change the color if needed */
}

/* Style the close button */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    /* Change the color if needed */
    cursor: pointer;
}

/* Center the modal vertically and horizontally */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
}
