/* styles.css */

.custom-navbar-bg {
    background-color: #F4EBD9;
    /* Your desired color code */
    /* Add any other styles you want */
}

.rounded-box {
    background-color: #5E747F;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Add this CSS to your existing styles.css or in a <style> tag in the <head> of your HTML */

/* Navbar */
.navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Rest of your existing styles */